<div class="jumbotron mt-5 mx-auto">
  <h1 class="display-4  ">GradeTorrent</h1>
  <p class="lead mx-auto ">Use GradeTorrent to crowdsource grading in your classes</p>
  <hr class="my-4">
  <p>Teacher creates assignments, students submit and grade each other</p>
  <p class="lead mx-auto">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
  </p>
</div>