<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/"><h3>GradeTorrent</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-
          target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-
          expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in? %>
  <div class="collapse navbar-collapse row" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active px-2">
        <a class="nav-link btn btn-outline-dark" href="/admin">Admin<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active px-2">
        <%= link_to 'Courses', courses_url, :class => 'nav-link btn btn-outline-dark'%>
      </li>

      <li class="nav-item active px-2">
        <a class="nav-link btn btn-outline-dark" href="#">Assignments<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active px-2">
        <a class="nav-link btn btn-outline-dark" href="#">Submissions<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active px-2">
        <a class="nav-link btn btn-dark" href="#">Evaluations<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active px-2">
        <a class="nav-link btn btn-outline-dark" href="#">Grades<span class="sr-only">(current)</span></a>
      </li>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

    </ul>
  </div>
  <% end %>
</nav>